[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = false
	whitespace = trailing-space
	symlinks = true

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[alias]
	c = commit -S -a
	cm = commit -S -am
	aa = add .
	co = checkout
	st = status
	ri = rebase -i
	amend = commit -S --amend -am
	force-merge = merge -X theirs
	delete-branch = "!f() { git branch -D $1 && git push origin :$1; }; f"
	l = "!git log --reverse --pretty=format:\"%h|%ar|%s\" | awk -F '|' '{ printf \"%s| %-14s | %s\\n\", $1, $2, $3 }'"
	la = "!git log --reverse --pretty=format:\"%h|%G?|%an|%ar|%s\" | awk -F '|' '{ printf \"%s|%s| %-10s | %-14s | %s\\n\", $1, $2, $3, $4, $5 }'"
	cleanall = clean -dxf

[user]
	name = Vladislav Mileshkin
	email = noein93@gmail.com
	signingkey = 57EE184C

[merge]
	#ff = only
	commit = no
	tool = meld

[branch]
	autosetupmerge = true

[diff]
	renames = copies
	tool = meld

[push]
	default = upstream

[github]
	user = YoukaiCat

[credential]
	helper = cache

[diff "odf"]
	binary = true
	textconv = odt2txt --stdout

[diff "word"]
	binary = true
	textconv = antiword # catdoc, docx2txt, strings

[diff "exif"]
	textconv = exiftool
[gui]
	editor = kwrite
	historybrowser = gitk
